.formulario-registro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fila-doble {
  display: flex;
  gap: 1rem;
}

.fila-doble .campo {
  flex: 1;
}

button.continuar {
  width: 100%;
  background-color: #0d6efd;
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button.continuar:hover {
  background-color: #0b5ed7;
}